@import "https://cdn.syncfusion.com/ej2/27.1.48/fabric-dark.css";
/*
#app {
  display: flex;
  padding: 0rem;
  margin: 0%;
  height: auto;
}


/*
#file-manager {
  height: 100%;
  width: 300px; 
  box-sizing: border-box;
  border-right: 1px solid #ccc; 
  max-width: 1200px;
  max-height: 1000px;
/*}
*/
/*
.file-overview .sample-container {
  margin: 10px 10px 10px 10px;
}
*/
/*}
.file-manager-container {
  height: 100vh; /* Full height */
  /*width: 100%; /* Full width */
/*  padding: 10px; /* Optional padding */
/*  box-sizing: border-box; /* Include padding in height and width */
/*}
*/