@import "https://cdn.syncfusion.com/ej2/27.1.48/fabric-dark.css";

#app {
  display: flex;
  padding: 0rem;
  margin: 0%;
  height: 50vh;
}

#file-manager {
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  box-sizing: border-box;
  border-right: 1px solid #ccc; /* Optional: Add a border to separate the file manager */
}

.file-overview .sample-container {
  margin: 10px 10px 10px 10px;
}

.file-manager-container {
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
  padding: 10px; /* Optional padding */
  box-sizing: border-box; /* Include padding in height and width */
}